@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  --dark-color: #1b1c1e;
  --light-color: #fefdfb;
  --gray-color: #888888;
  --accent-color: #e291b0;
  --dark-overlay: 0.8;
  --light-overlay: 0.2;
  --dark-rgb: 0;
  --light-rgb: 200;
  overflow: auto;
}

img {
  display: block;
  max-width: 100%;
}

.background {
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  pointer-events: none;
  top: 0;
  left: 0;
  min-width: 100vw;
  img {
    min-height: 100vh;
    object-fit: cover;
    position: relative;
  }
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.35);

  thead tr {
    background-color: var(--accent-color);
    color: #ffffff;
    text-align: left;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(odd) {
    background-color: white;
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
}

.main-page {
  .top {
    position:relative;
    margin-top: 1rem;

    h1 {
      color: var(--light-color);
      text-align: center;
    }

    .refresh-button {
      position:absolute;
      width:30px;
      height:30px;
      top:50%;
      transform:translateY(-50%);
      background-color: var(--accent-color);
      border:none;
      border-radius: 0.5rem;
      right: calc((100% - 700px) / 2);
      i {
        color: var(--light-color);
      }
    }
  }

  .main-table {
    margin: 1rem auto;
  }
}

.capitalize {
  text-transform: capitalize;
}
