@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  --dark-color: #1b1c1e;
  --light-color: #fefdfb;
  --gray-color: #888888;
  --accent-color: #e291b0;
  --dark-overlay: 0.8;
  --light-overlay: 0.2;
  --dark-rgb: 0;
  --light-rgb: 200;
  overflow: auto;
}

img {
  display: block;
  max-width: 100%;
}

.background {
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  min-width: 100vw;
  pointer-events: none;
  top: 0;
  left: 0;
  img {
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
    position: relative;
  }
}

nav {
  margin-bottom: 1.5rem;
  ul {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--light-color);
    li {
      list-style: none;
      color: var(--light-color);
      text-decoration: none;
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:nth-child(1) {
        margin-right: auto;
        font-size: 1.5rem;
        font-weight: 700;
        &:hover {
          background-color: transparent;
        }
      }

      &:nth-last-child(1) {
        margin-left: 3rem;
        background-color: var(--accent-color);
      }

      &:hover {
        background-color: var(--accent-color);
      }
    }
  }
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.35);

  thead tr {
    background-color: var(--accent-color);
    color: #ffffff;
    text-align: left;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(odd) {
    background-color: white;
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid var(--accent-color);
  }
}

.main-page {
  .top {
    position: relative;
    margin-top: 1rem;

    h1 {
      color: var(--light-color);
      text-align: center;
    }

    .refresh-button {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--accent-color);
      border: none;
      border-radius: 0.5rem;
      right: calc((100% - 700px) / 2);
      i {
        color: var(--light-color);
        font-size: 1.5rem;
      }
    }
  }

  .main-table {
    margin: 1rem auto;
  }
}

.capitalize {
  text-transform: capitalize;
}

.authors-info {
  .text-part {
    display: grid;
    color: var(--light-color);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 3rem;
    h1 {
      font-size: 7rem;
      font-style: italic;
      grid-column: 1/2;
      grid-row: 1/3;
      justify-self: right;
      margin-right: 1rem;
      align-self: center;
    }
    h2 {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: flex-end;
      margin-left: 2rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .author-paragraphs {
      grid-column: 2/3;
      grid-row: 2/3;
      margin-left: 2rem;
      font-style: italic;
      p {
        margin: 1rem 0;
        font-weight: 700;
        span {
          font-weight: 200;
        }
      }
    }
  }

  .image-part {
    display:flex;
    justify-content: center;
    margin-top:3rem;
  }
}
